bin/
etc/
frontend/
lib/
share/
commit.txt
pip-selfcheck.json
__pycache__
node_modules
package-lock.json

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#Quorum
/qdata/node1/geth
/qdata/node1/geth_old
/qdata/node1/quorum-raft-state
/qdata/node1/quorum-raft-state_old
/qdata/node1/raft-wal
/qdata/node1/raft-wal_old
/qdata/node1/raft-snap
/qdata/node1/raft-snap_old

/qdata/node2/geth
/qdata/node2/geth_old
/qdata/node2/quorum-raft-state
/qdata/node2/quorum-raft-state_old
/qdata/node2/raft-wal
/qdata/node2/raft-wal_old
